:root {
    --primary-red: #ff6161;
    --primary-blue: #3868ff;
    --primary-magenta: #de37ff;
    --primary-cyan: #48c0f6;
    --primary-green: #08cc78;
    --primary-yellow: #ffd966;
    --primary-orange: #f78647;
    --text-primary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
}

header {
    background-color: var(--primary-green);
    color: var(--text-primary);
}

.fill {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.justify-between {
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 3rem;
}

.p-1 {
    padding: 2.5rem;
}

.p-2 {
    padding: 2.1rem;
}

.p-3 {
    padding: 1.7rem;
}

.p-4 {
    padding: 1.3rem;
}

.p-5 {
    padding: 0.9rem;
}

.p-6 {
    padding: 0.5rem;
}