{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block scripts %}
<script src="/static/scripts/home.js" defer></script>
{% endblock scripts %}
{% block body %}
<div class="main mt-1">
    <div class="create m-auto bs w-100">
        <form class="pt-5 pb-5 m-auto background-transparent" action="/" method="POST">
            <input type="text" name="lobby-name" disabled class=" background-white text-center fs-3 m-auto inset-bs mb-4 block lobby-input w-75" placeholder="Enter lobby name">
            <div class="text-center flex justify-between m-auto w-75">
                <div>
                    <input type="radio" id="private" value="private" name="type" checked>
                    <label class="color-purple mr-4 fs-3" for="private">Private</label>
                    <input type="radio" id="public" value="public" name="type">
                    <label class="color-purple fs-3" for="public">Public</label>
                </div>
                <input type="submit" class="create-button background-purple color-white pl-5 pr-5 fs-2 fw-bold" value="CREATE">
            </div>
        </form>
    </div>
    <div class="join m-auto bs w-100 mt-3">
        <form action="/room/" method="post" class="pt-5 pb-5 m-auto background-transparent">
            <div class="w-75 m-auto flex justify-between">
                <input type="text" placeholder="Room code" class="code-input background-white text-center fs-3 inset-bs block lobby-input w-25">
                <input type="submit" class="join-button background-purple color-white pl-5 pr-5 fr-5 fs-2 fw-bold" value="JOIN">
            </div>
        </form>
    </div>
</div>
<div class="lobby-browser background-white w-100 m-auto mt-6">
    <table class="w-100 m-auto">
        <thead class="fs-3">
            <tr>
                <th class="w-75 pb-6 pt-6">Lobby Name</th>
                <th class="w-25 pb-6 pt-6"># Players</th>
            </tr>
        </thead>
        <tbody class="w-100">
            <tr class="fs-4 w-100">
                <td class="text-center pt-6 pb-6 w-75"><a href="">Big wonderful test lobby</a></td>
                <td class="text-center pt-6 pb-6 w-25">6</td>
            </tr>
        </tbody>
    </table>
    <div class="page-nav flex m-auto w-25 fs-3 pb-6 background-transparent">
        <a href="" class="fs-4"><<</a>
        <a href="" class="fs-4"><</a>
        <p>1</p>
        <a href="" class="fs-4">></a>
        <a href="" class="fs-4">>></a>
    </div>
</div>
{% endblock body %}