{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block scripts %}
<script src="/static/scripts/home.js" defer></script>
{% endblock scripts %}
{% block body %}
<div class="main mt-1">
    <div class="create m-auto bs w-50">
        <form class="pt-5 pb-5 m-auto background-transparent" action="/" method="POST">
            <input type="text" name="lobby-name" class=" background-white text-center fs-3 m-auto inset-bs mb-4 block lobby-input w-75" placeholder="Enter lobby name">
            <div class="text-center flex justify-between m-auto w-75">
                <div>
                    <input type="radio" id="private" name="type" checked>
                    <label class="color-purple mr-4 fs-3" for="private">Private</label>
                    <input type="radio" id="public" name="type">
                    <label class="color-purple fs-3" for="public">Public</label>
                </div>
                <input type="submit" class="create-button background-purple color-white pl-5 pr-5 fs-2 fw-bold" value="CREATE">
            </div>
        </form>
    </div>
    <div class="join m-auto bs w-50 mt-1">
        s
    </div>
</div>
{% endblock body %}