<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PRTY - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/scripts/templates.js"></script>
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        <header>
            <div class="navbar fill flex justify-between">
                <div class="left-nav flex p-6 flex-reverse">
                    <a href="/"><img src="/static/images/textlogo.svg" alt="Text Logo" class="logo"></a>
                </div>
                <h1 class="text-primary title-status fw-normal"></h1>
                <div class="right-nav flex p-6 w-25">
                    {% if not game %}
                        <input class="name-input fs-3 w-25 text-center" type="text" placeholder="Enter username..." value="{{ username }}">
                    {% else %}
                        <p class="name-input fs-3 w-25 text-center">{{ username }}</p>
                    {% endif %}
                </div>
            </div>
        </header>
        <main>
            {% block body %}{% endblock body %}
        </main>
    </body> 
</html>